<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
        <navbar-cmp></navbar-cmp>
<!--          
          <h1>{{title}}</h1>
 -->
        <div class="content">
            <button
                (click)="showSearch = !showSearch"
                class="btn btn-default">Toggle show search</button>
            <br><br>
            <app-flight-search *ngIf="showSearch"></app-flight-search>
        </div>
  </div>

</div>
